/*MIXIN SIN PARAMETROS*/
/*MIXIN CON PARAMETROS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");
  /* font-family: "Zain", sans-serif; */
  @import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap");
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 80px;
  margin: 5px;
}

nav {
  width: 30%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
nav a {
  text-decoration: none;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*INICIO DE LOS ESTILOS FOOTER*/
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.social {
  color: orangered;
}

.style {
  width: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu {
  animation: 0.5s slideup;
}

@keyframes slideup {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0);
  }
}
/*INICIO DE LOS ESTILOS INDEX*/
.contenedor-imagen {
  position: relative;
  display: inline-block;
}

.texto-superpuesto {
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.clases {
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.nuestroPrograma {
  font-family: "Zain", sans-serif;
  background-color: #e8e4e4;
  height: 60px;
  text-align: center;
  font-size: 2.3rem;
  margin: 0;
  padding: 10px;
}

.ofrecer {
  text-align: center;
  font-family: "Zain", sans-serif;
  font-family: "Zain", sans-serif;
  background-color: #e8e4e4;
  margin: 0;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  height: 260px;
  padding: 50px 0px;
  background-color: #e8e4e4;
}

.equipamiento {
  width: 100px;
  font-size: 1rem;
  font-weight: 700;
}

.natacion {
  width: 100px;
  font-size: 1rem;
  font-weight: 700;
}

.nutricion {
  width: 100px;
  font-size: 1rem;
  font-weight: 700;
}

.plan {
  width: 100px;
  font-size: 1rem;
  font-weight: 700;
}

.actividades {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 30px;
  color: #3b3b3b;
}

.fondo-Negro {
  background: linear-gradient(to right, #005C53, #DBF227);
}
.fondo-Negro .elPoder {
  font-family: "Zain", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 170%;
  left: 61%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.fondo-Negro .descripcion {
  font-family: "Zain", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 198%;
  left: 61%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.nuestrosPlanes {
  height: 100px;
  text-align: center;
  font-family: "Zain", sans-serif;
  padding-top: 10px;
  font-size: 3rem;
}
.nuestrosPlanes .plan-title {
  margin-top: 20px;
}

.fondogris {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px 0px;
  padding-left: 80px;
  padding-right: 80px;
}

.planesPrecios {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 500px;
  justify-content: space-evenly;
  padding: 40px;
}
.planesPrecios .planBasico, .planesPrecios .planFuerte, .planesPrecios .planAvanzado {
  text-align: center;
  font-family: "Zain", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.planesPrecios .precioBasico, .planesPrecios .precioFuerte, .planesPrecios .precioAvanzado {
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
  color: #ff4500;
}
.planesPrecios .mes {
  font-size: 1rem;
}
.planesPrecios .espacios {
  line-height: 0.4;
  color: #919090;
}
.planesPrecios .my-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}
.planesPrecios .my-button:hover {
  background-color: #155c18;
}
.planesPrecios .my-button:active {
  background-color: #3e8e41;
}
.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #0e0e0e;
  height: 90px;
  align-items: center;
}

.teams-card {
  background-color: #0e0e0e;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
}
.teams-card .cards {
  width: 18rem;
}
.teams-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teams-card .team-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c9ea11;
  align-items: center;
  margin: 15px;
  width: 260px;
  border-radius: 10px;
  height: 80px;
  bottom: 40px;
  position: relative;
  text-align: center;
  font-size: 1rem;
}
.teams-card .team-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0e0e0e;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin-bottom: -10px;
}
.teams-card .team-subtitle {
  font-size: 1rem;
  color: #504f4f;
  font-family: Arial, Helvetica, sans-serif;
}

/* DE LOS ESTILOS INDEX*/
/* ANIMACIONES*/
.texto-superpuesto {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.clases {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.logo {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-10-22 9:57:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/*INICIO DE LOS ESTILOS EVENTOS*/
.textoevento {
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.clases-evento {
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.cajas {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  width: 100%;
  height: 120px;
}
.cajas .caja1 {
  flex-grow: 1;
  height: 100%;
  background-color: #13678A;
}
.cajas .meditacion {
  font-size: 1.2rem;
  font-weight: 600;
  color: #012030;
  text-align: center;
  margin: 30px;
}
.cajas .horarios {
  margin: -20px;
  margin-left: auto;
  margin-right: auto;
  color: #012030;
  text-align: center;
}
.cajas .caja2 {
  flex-grow: 1;
  height: 100%;
  background-color: #45C4B0;
}
.cajas .caja3 {
  flex-grow: 1;
  height: 100%;
  background-color: #9AEBA3;
}
.cajas .caja4 {
  flex-grow: 1;
  height: 100%;
  background-color: #DAFDBA;
}

.bienvenida .tituloG {
  margin-top: 50px;
  padding-left: 4%;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.bienvenida .subtitulo {
  padding-top: 10px;
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
  color: #919090;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-size: 1rem;
  margin-right: 30;
}

.iconos-fittness {
  font-size: 1.3rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  height: 300px;
  padding: 30px 0px;
}
.iconos-fittness .title {
  text-align: center;
}
.iconos-fittness .parrafos {
  height: 100px;
  width: 300px;
  color: #bdbbbb;
  font-size: 1rem;
  text-align: center;
}

.container-orange {
  background-color: #ff4500;
  padding-top: 30px;
}
.container-orange .container-parrafo {
  margin-left: 40px;
  margin-top: -50px;
  position: absolute;
  top: 82%;
  right: -200px;
  text-align: center;
  font-size: 5rem;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
}

.cajasRedes {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  width: 100%;
  height: 140px;
  margin-top: -20px;
}
.cajasRedes .cajaFacebook {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 41%;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #f0f0f0;
}
.cajasRedes .cajaInstagram {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 41%;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: #f0f0f0;
}
.cajasRedes .cajaTwitter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 41%;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: #f0f0f0;
}
.cajasRedes .cajaYoutube {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 41%;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: #f0f0f0;
}

/*FIN DE LOS ESTILOS EVENTOS*/
/* ANIMACIONES*/
.textoevento {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.clases-evento {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/*INICIO DE LOS ESTILOS EQUIPAMIENTO*/
.fondonegroequipo {
  background-color: #0e0e0e;
  width: 100%;
}

.textoequipo {
  font-family: "Times New Roman", Times, serif;
  font-size: 6rem;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.contamos {
  font-size: 1.3rem;
  position: absolute;
  text-align: center;
  top: 75%;
  left: 50%;
  right: 50px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  justify-content: center;
  padding: 50px;
  padding-bottom: 5px;
}

.teams {
  margin-top: 0;
}

.teams-card {
  display: flex;
  flex-direction: row;
}
.teams-card .cards {
  width: 18rem;
}

.program {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  height: 350px;
  background-color: #ffffff;
  position: relative;
}
.program .the-main-thing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: #f1f1f1;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
.number .number-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #504f4f;
  position: absolute;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.mujer-pesas {
  background-color: #ffffff;
  padding-left: 30px;
}

.premium {
  margin-left: 40px;
  margin-top: -50px;
  position: absolute;
  top: 260%;
  right: 550px;
  text-align: center;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: 700;
  color: #3b3b3b;
}

.only {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 130px;
  margin-bottom: 750px;
  width: 60%;
  font-size: 2.5rem;
  font-weight: 700;
}

/*FIN DE LOS ESTILOS EQUIPAMIENTO*/
/* ANIMACIONES*/
.textoequipo {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.contamos {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .logo {
    width: 55px;
    align-items: center;
  }
  nav {
    width: 90%;
    justify-content: space-evenly;
  }
  .style {
    width: 100%;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .texto-superpuesto {
    display: flex;
    justify-content: center;
    width: 90%;
    font-family: "Times New Roman", Times, serif;
    font-size: 3.3rem;
    top: 10%;
    margin: 20px 0px;
    align-items: center;
    color: #ffffff;
  }
  .clases {
    display: none;
  }
  .nuestroPrograma {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Zain", sans-serif;
    background-color: #e8e4e4;
    height: 150px;
    font-size: 1.6rem;
  }
  .ofrecer {
    display: none;
  }
  .iconos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 560px;
    padding: 50px 0px;
    background-color: #e8e4e4;
  }
  .natacion {
    justify-content: center;
    width: 60px;
    font-size: 1rem;
    font-weight: 700;
  }
  .nutricion {
    justify-content: center;
    width: 60px;
    font-size: 1rem;
    font-weight: 700;
  }
  .plan {
    justify-content: center;
    width: 60px;
    font-size: 1rem;
    font-weight: 700;
  }
  .equipamiento {
    justify-content: center;
    width: 60px;
    font-size: 1rem;
    font-weight: 700;
  }
  .actividades {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .womanfit {
    width: 100%;
  }
  .descripcion {
    display: none;
  }
  .elPoder {
    display: none;
  }
  .plan-title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .mujer {
    width: 100%;
  }
  .fondogris {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px 0px;
  }
  .planesPrecios {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1400px;
    justify-content: space-evenly;
    padding: 40px;
    padding-top: 10px;
  }
  .planBasico {
    background-color: #DBF227;
    border-radius: 5px;
    color: #0e0e0e;
  }
  .precioBasico {
    color: #3b3b3b;
  }
  .mes {
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
  }
  .espacios {
    font-size: 1rem;
    color: #e8e4e4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .my-button {
    padding: 10px 20px;
    background-color: #aaf861;
    color: #0e0e0e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
  }
  .my-button:hover {
    background-color: #155c18;
    color: #ffffff;
  }
  .planAvanzado {
    background-color: #DBF227;
    border-radius: 5px;
    color: #0e0e0e;
    margin-top: 5px;
  }
  .precioAvanzado {
    color: #0e0e0e;
  }
  .planFuerte {
    background-color: #DBF227;
    border-radius: 5px;
    color: #0e0e0e;
    margin-top: 5px;
  }
  .precioFuerte {
    color: #0e0e0e;
  }
  .teams {
    height: 100px;
    font-weight: 600;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .all {
    background-color: rgba(208, 209, 209, 0.4039215686);
    padding: 20px 0px;
    margin: 10px;
    border-radius: 10px;
  }
  .fondonegroprofesionales {
    display: none;
  }
  /* -RESPONSIBE MOVIEL - EVENTOS---------------------*/
  .textoevento {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    font-family: "Times New Roman", Times, serif;
    font-size: 3.3rem;
    top: 3%;
    margin: 20px 0px;
    align-items: center;
    color: #ffffff;
    line-height: 50px;
  }
  .contenedor-imagen {
    width: 100%;
  }
  .cajas {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 20%;
    position: absolute;
  }
  .bienvenida {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: -450px;
  }
  .tituloG {
    width: 100%;
    font-size: 1rem;
    padding-top: 30px;
  }
  .subtitulo {
    width: 100%;
    padding-top: 10px;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 170px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .iconos-fittness {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    padding-bottom: 300px;
    padding-top: 300px;
  }
  .container-orange {
    padding-top: 70px;
    margin-top: 270px;
    background-color: #ff4500;
    width: 100%;
  }
  .mujer.img {
    width: 80px;
    height: 80px;
  }
  .container-img {
    width: 100%;
  }
  .container-parrafo {
    width: 100%;
    height: 20px;
    padding: 70px;
    left: 41%;
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: end;
    font-size: 2rem;
    line-height: 80px;
  }
  .cajasRedes {
    width: 100%;
  }
  /* -RESPONSIBE MOVIL - EVENTOS FIN---------------------*/
  /* -RESPONSIVE MOVIL - EQUIPO---------------------*/
  .fondonegroequipo {
    background-color: #0e0e0e;
  }
  .textoequipo {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
  .contamos {
    display: none;
    width: 100%;
    font-size: 1rem;
    top: 35%;
    color: #DBF227;
  }
  .teams-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .card-text {
    background-color: #DBF227;
    color: #0e0e0e;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    bottom: 30px;
    position: relative;
    justify-items: center;
    font-size: 1rem;
  }
  .teams {
    font-size: 1.2rem;
  }
  .teams-card {
    background-color: #0e0e0e;
    width: 100%;
    height: 100%;
  }
  .program {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
  }
  .number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: rgba(204, 204, 204, 0.2549019608);
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
  }
  .number-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #504f4f;
    position: absolute;
    font-weight: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .the-main-thing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .for-us {
    width: 84%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }
  .mujer-pesas {
    display: none;
  }
  .premium {
    display: none;
  }
  .only {
    display: none;
  }
  /* -RESPONSIVE MOVIEL - EQUIPO FIN---------------------*/
  /* -RESPONSIVE MOVIEL - FOOTER---------------------*/
  .social {
    color: #ff4500;
  }
}

/*# sourceMappingURL=main.css.map */
