/*COMENTARIO DE CSS*/

/*ETIQUETA*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



/*CLASES*/
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
/* font-family: "Zain", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
/*
font-family: "BIZ UDPGothic", sans-serif;
font-weight: 400;
font-style: normal;



