
@use"variables"as*;


/*INICIO DE LOS ESTILOS INDEX*/

.contenedor-imagen {
    position:relative;
    display: inline-block;
}


.texto-superpuesto {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $blanco;
}

.clases{
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $blanco;
}

.nuestroPrograma{
    font-family: "Zain", sans-serif;
    background-color: $grisclaro;
    height: 50px;
    text-align: center;
    font-size: 2.3rem;   
    margin: 0;
}

.ofrecer{
    text-align: center;
    font-family: "Zain", sans-serif;
    font-family:"Zain", sans-serif; ;
    background-color: $grisclaro;
    margin: 0;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    height: 260px;
    padding: 50px 0px;
    background-color: $grisclaro;  
}
  .equipamiento{
    width: 100px;
    font-size: 1rem;
    font-weight: 700;
}


.natacion{
    width: 100px;
    font-size: 1rem;
    font-weight: 700;
}

.nutricion{
    width: 100px;
    font-size: 1rem;
    font-weight: 700; 
}

.plan{
    width: 100px;
    font-size: 1rem;
    font-weight: 700;   
}

.actividades{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 30px;
    color: $grismasoscuro;
}

.fondo-Negro {
    background: linear-gradient(to right, $verdeperlado, $amarillointenso);

    .elPoder {
        font-family: "Zain", sans-serif;
        font-size: 2rem;
        text-align: center;
        position: absolute;
        top: 165%;
        left: 61%;
        transform: translate(-50%, -50%);
        color: $blanco;
    }

    .descripcion {
        font-family: "Zain", sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        position: absolute;
        top: 190%;
        left: 61%;
        transform: translate(-50%, -50%);
        color: $blanco;
    }

}

.nuestrosPlanes{
    height: 100px;
    text-align: center;
    font-family: "Zain", sans-serif;
    height: 50px;
    padding-top: 10px;
    font-size: 3rem;

    .plan-title{
        margin-top: 20px;
    }
}


.fondogris{
    background-color: $grisclarito;
    border-radius: 5px;
    padding: 20px 0px;
    padding-left: 80px;
    padding-right: 80px;
}


.planesPrecios {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 500px;
    justify-content: space-evenly;
    padding: 40px;

    .planBasico {
        text-align: center;
        font-family: "Zain", sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .precioBasico {
        text-align: center;
        font-weight: 800;
        font-size: 2.5rem;
        color: $naranga;
    }

    .mes {
        font-size: 1rem;
    }

    .espacios {
        line-height: 0.4;
        color: $grismedio;
    }

    .my-button {
        padding: 10px 20px;
        background-color: $verde;
        color: $blanco;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        margin-top: 30px;
    }

    .my-button:hover {
        background-color: $verdehoover;
    }

    .my-button:active {
        background-color: $verdeactive;
    }

    .planAvanzado {
        @extend .planBasico;
    }

    .precioAvanzado {
        @extend .precioBasico;
    }

    .planFuerte {
        @extend .planBasico;
    }

    .precioFuerte {
        @extend .precioBasico;
    }

}

.teams{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    text-align: center;
    color: $blanco;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color:$negro;
    height: 90px;
    align-items: center;
}

.teams-card {
    background-color: $negro;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;

    .cards {
        width: 18rem;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $verdemusgo;
        align-items: center;
        margin: 15px;
        width: 260px;
        border-radius: 10px;
        height: 80px;
        bottom: 40px;
        position: relative;
        text-align: center;
        font-size: 1rem;
    }

    .team-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: $negro;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 40px;
        margin-bottom: -10px;
    }

    .team-subtitle {
        font-size: 1rem;
        color: $grisaseo;
        font-family: Arial, Helvetica, sans-serif;
    }
}
/* DE LOS ESTILOS INDEX*/

