
$negro:#0e0e0e;
$blanco:#ffffff;
$all:#d0d1d167;
$number:#cccccc41;
$blancogrisaseo:#f0f0f0;
$griss:#bdbbbb;
$grisclaro:#e8e4e4;
$grisclarito:#f1f1f1;
$grisintermedio:#aaa;
$grismedio:#919090;
$grisoscuro:#4b4c4d;
$grismasoscuro:#2e2f2f;
$grisaseo:#504f4f;
$grismasoscuro:#3b3b3b;
$naranga:#ff4500;
$naranjapasion:#D93D04;
$verde:#4CAF50;
$verdeperlado:#005C53;
$verdehoover:#155c18;
$verdeactive:#3e8e41;
$verdoso:#45C4B0;
$accua:#9AEBA3;
$verdefuccia:#aaf861;
$accuamarina:#DAFDBA;
$amarillointenso:#DBF227;
$verdemusgo:#c9ea11;
$azulado:#13678A;
$azuladooscuro:#012030;


$font:"Zain", sans-serif;
$font:"BIZ UDPGothic";
$font:Verdana, Geneva, Tahoma, sans-serif;
$font:"Times New Roman", Times, serif;
$font:Arial, Helvetica, sans-serif;




/*MIXIN SIN PARAMETROS*/

@mixin flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*MIXIN CON PARAMETROS*/

@mixin tamanio ($ancho, $alto){
    width: $ancho;
    height: $alto;
}


@mixin flex ($direction, $justify, $aling){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;

}